
/* ---------------------------- */

div.container {
	width: 			960px;
	margin: 		0 auto;
	padding-left: 	10px;
	padding-right: 	10px;
}

/* ---------------------------- */
div#header,
div#sub-header
 {
	width: 			100%;
}

div#navbar {
	width: 100%;
	min-width: 390px;
}

/* ---------------------------- */