<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<images>
    <pic>
        <image>myimages/web/1.png</image>
		<titler>betterworld inc. // web design and identity package {2007}</titler>
	    </pic>
	 <pic>
        <image>myimages/web/2.png</image>
		<titler>ice vikings // web design and identity package {2008}</titler>
	    </pic>

</images>